.carousel {
  width: 100%;
  overflow: hidden;

  .carousel__track {
    display: flex;
    gap: 1rem;
    margin:1rem;

    .carousel__item {
      flex: 0 0 auto;
      img {
        width: 100%;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
      }
    }
  }

  // Desktop : 2 images fixes en grille
  @media (min-width: 1024px) {
    .carousel__track {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      transform: none !important; // désactive l'animation framer-motion
    }
  }
}
