.carousel {
  overflow: hidden; // empêche le scroll horizontal non voulu
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;

  &__track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap:1rem;
  }

  &__item {
    flex: 0 0 100%; // chaque image prend 100% de la largeur du carousel
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }
}

// Desktop et plus grands écrans
@media screen and (min-width: 768px) {
  .carousel {
    &__item {
      flex: 0 0 50%; // deux images visibles côte à côte
    }
  }
}

@media screen and (min-width: 1024px) {
  .carousel {
    &__item {
      flex: 0 0 33.333%; // trois images visibles côté à côte
    }
  }
}
